body, html {
  height: 100%;
}


body {
  background: #17212B;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.42rem;
  margin: 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

button {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border:none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

footer {
  position: relative;
  width: 100%;
}

input[type=text] {
  color: #7F91A4;
  background-color: #17212B;
  border-width: 0;
  
}

.hidden {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: relative;
  background-color: #7F91A4;
}

.unauthorized {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #17212B;
  width: 450px;
  height: 500px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  
}

.auth__cover {
  margin-bottom: 20px;
}

.auth__title {
  margin-bottom: 20px;
}

.auth__text {
  margin-bottom: 40px;
  text-align: center;
  color: #7F91A4;
  font-size: 16px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__input {
  padding: 10px 10px;
  margin-bottom: 20px;
  width: 300px;
  border-bottom-width: 1px;
}

.auth__btn {
  padding: 13px 40px;
  background-color: #5188C1;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #17212B;
  color: #fff;
}
.head {
  height: 70px;
  position: sticky;
  z-index: 100;
}


.left-col {
  width: 260px;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
}


.hamburger {
  cursor: pointer;
  height: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hamburger__menu {
  display: flex; 
}

.hamburger__plank {
  display: block;
  background: #6C7982  ;
  width: 1.7rem;
  height: 4px;
  border-radius: 3px;  
  position: relative;
 
}

.hamburger__plank::before {
  content: "";
  background: #6C7982  ;
  width: 1.7rem;
  height: 4px;
  border-radius: 3px; 
  position: absolute;
  left: 0;
  display: block;
  top: -8px;
}

.hamburger__plank::after {
  content: "";
  background: #6C7982;
  width: 1.7rem;
  height: 4px;
  border-radius: 3px; 
  position: absolute;
  left: 0;
  display: block;
  top: 8px;
}

.right-col {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.head--right {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
}

.head__title {
  font-size: 14px;
}

.head__text {
  font-size: 12px;
  color: #7F91A4;
}

.user__text {
  color: #7F91A4;
  font-size: 14px;
  margin-bottom: 15px;
}

.user__info {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  margin-right: 10px;

}

.chat-messages {
  flex: 1;
  background-color: #0E1621;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.messageForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageForm__input {
  padding: 20px 10px ;
  font-size: 14px;
  flex: 1;
  margin-right: 20px;
}

.messageForm__btn {
  color: #FFFFFF;
  background-color: #5387C1;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  position: relative;
}

.system-message {
  color: #7F91A4;
  font-size: 14px;
  margin-left: 20px;
}

.user-message {
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 300px;
  margin: 20px;
  display: flex;
  align-items: center;
}

.user-message--photo {
  border-radius: 50%; 
  width: 50px; 
  height: 50px;
  margin-right: 20px;
}

.message-body {
  flex: 1;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-name {
  color: #5387C1;
  font-size: 12px;
  font-weight: 500;
}

.message-time {
  color: #7F91A4;
  font-weight: 300;
  font-size: 12px;

}
.message-text {
  font-size: 14px;
  word-wrap: break-word;

}

.user-message--other {
  background-color: #182633;
}

.user-message--current {
  background-color: #2B5279;
  
}

.error {
  color: #c95c49;
  text-align: center;
  font-size: 14px;

}

.modal--photo {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms ease-in;
  opacity: 1;
  display: none;
}

.modal__box {
  width: 360px;
  height: 450px;
  background-color: #17212B;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__main {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__input {
  visibility: hidden; 
  width:0; 
  height:0
}

.modal__img {
  width: 280px;
  height: 280px;
  border-radius: 10px;
}

.modal__desc {
  color: #7F91A4;
  font-size: 14px;
  margin-bottom: 20px;
}

.modal__btn {
  color: #6BB2F2;
  padding: 10px;
  background-color: #1D2A3A;
  border-radius: 3px;
  margin-right: 20px;
}

.modal__btn:last-child{
  margin-right: 0px;
}

.modal__btn:hover {
background-color: transparent;
}




